extends layout

block content
    h1= title
    form(action='/savePreset' method='POST')
      div(class="form-input-preset-header") Common
      ul(class="form-input-preset")
        input(type='hidden', name='id' value=(undefined===preset ? '' : preset._id ))

        li 
          label Preset
          input(type='text', name='name' value=(undefined===preset ? '' : preset.name ))

        li
          label Active
          input(type="checkbox", name="active", checked=(preset.active))


      div(class="form-input-preset-header") Home Assistant
      ul(class="form-input-preset")
        li 
          label Lampe
          input(type="checkbox", name="lamp", checked=(preset.ha.switch.lamp))
          br

        li 
          label TV
          input(type="checkbox", name="tv", checked=(preset.ha.switch.tv))

        li
          label Gitarre
          input(type="checkbox", name="guitar", checked=(preset.ha.switch.guitar))




      div(class="form-input-preset-header") SSH
      ul(class="form-input-preset")
        li
          label Jack
          input(type="checkbox", name="jackd", checked=(preset.ssh.apps.jackd))
        li
          label Compton
          input(type="checkbox", name="compton", checked=(preset.ssh.apps.compton))
        li
          label Ardour
          input(type="checkbox", name="ardour", checked=(preset.ssh.apps.ardour))
      br
      input(class="form-input-preset-button" type='submit', value='Save')
